<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
</head>
<body>
  <h1>Bienvenido a la App de Logros y Portafolio</h1>

  <nav>
    <a href="#/Logros">Ver Logros</a> |
    <a href="#/Portafolio">Ver Portafolio</a>
  </nav>

  <p>Usa la navegación para explorar.</p>

  <!-- IMPORTACIÓN DE COMPONENTES -->
  <script type="module" src="../js/components/BadgeLogro.js"></script>
  <script type="module" src="../js/components/PortafolioItem.js"></script>
</body>
</html>
