<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Logros</title>
</head>
<body>
  <h1>Logros Desbloqueados</h1>

  <badge-logro titulo="HTML Básico" icono="🧱" color="#fce38a"></badge-logro>
  <badge-logro titulo="JavaScript Pro" icono="⚙️" color="#95e1d3"></badge-logro>
  <badge-logro titulo="SPA Routing" icono="🌐" color="#f38181"></badge-logro>

  <br><br>
  <a href="#/">Volver al inicio</a>

  <script type="module" src="../js/components/BadgeLogro.js"></script>
</body>
</html>
