<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Portafolio</title>
</head>
<body>
  <h1>Mis Proyectos</h1>

  <portafolio-item 
    titulo="Calculadora de Sueldo" 
    descripcion="App que calcula sueldo bruto, descuentos y sueldo líquido" 
    link="https://github.com/Villata-dev/calculadora-sueldos">
  </portafolio-item>

  <portafolio-item 
    titulo="Editor con Go Live" 
    descripcion="Editor de código HTML/CSS con vista en vivo integrada" 
    link="https://github.com/Villata-dev/editor-go-live">
  </portafolio-item>

  <br><br>
  <a href="#/">Volver al inicio</a>

  <script type="module" src="../js/components/PortafolioItem.js"></script>
</body>
</html>
