<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Perfil de Usuario</title>
</head>
<body>
  <h1>Mi Perfil</h1>
 
  <user-card 
  nombre="Francisco Villa" 
  rol="Administrador del sistema" 
  imagen="https://randomuser.me/api/portraits/men/75.jpg">
</user-card>

  <p>Bienvenido, Francisco.</p>

  <!-- Podrías reutilizar tu Web Component aquí -->
  <user-card nombre="Francisco" detalle="Usuario nivel avanzado."></user-card>

  <script type="module" src="/js/components/user-card.js"></script>
</body>
</html>